{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="container">
        <h2>Order Confirmation</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order_items %}
                <tr>
                    <td>{{ item.book.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.book.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex">
            <h3>Total Amount: ${{ total_amount }}</h3>
            <form method="post" action="{% url 'orders:confirm_order' order.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>
    </div>
{% endblock %}